<!DOCTYPE html>
<html ng-app="Quiz App" ng-controller="FAQController as f">

<head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
</head>

<body>
    <script src="../jquery.js"></script>
    <script src="../angular.js"></script>
    <script src="../app.js"></script>
    <script src="../controllers/FAQController.js"></script>
    <script src="../services/FAQService.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.2.2/angular-materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>



    <div>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center">My Quiz App</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li>
                        <a href="../home/home.html" style="font-size: 20px;">Home</a>
                    </li>
                    <li>
                        <a href="#" style="font-size: 20px;">Quizzes</a>
                    </li>
                    <li>
                        <a href="#" style="font-size: 20px;">FAQ</a>
                    </li>
                    <li>
                        <a href="#" ng-click="h.logout();" style="font-size: 20px;" class="brand-logo right">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="login-box" ng-model="login">
        <div id="fade" ng-show="l.fade" class="ng-hide"></div>
        <div id="modal" ng-show="l.fade" class="ng-hide">
            <img id="loader" src="facebook.gif" />
        </div>
        <div class="col card formCard ng-cloak hoverable z-depth-5">
            <form name="myForm" novalidate>
                <div class="card-content">
                    <h2 class="center blue-text text-darken-3">Create an FAQ</h2>
                    <div class="row">
                        <div class="input-field col s10 offset-s1">
                            <select class="selected" ng-model="f.options" material-select ng-options="item as item.name for item in f.catList">
                                
                            </select>
                        </div>
                        <div class="input-field col s10 offset-s1">
                            <label for="lastName">Last Name</label>
                            <input type="text" name="lastName" ng-model="r.lastName" class="validate" required/>
                            <span style="color:red" ng-if="r.myForm.lastName.$invalid && r.myForm.lastName.$touched">Please enter a last name</span>
                        </div>
                        <div class="input-field col s10 offset-s1">
                            <label for="email">Email address</label>
                            <input type="email" name="email" ng-model="r.email" class="validate" required/>
                            <span style="color:red" ng-if="r.myForm.email.$invalid && r.myForm.email.$touched">Please enter a valid email</span>
                        </div>
                        <div class="input-field col s10 offset-s1">
                            <label for="password">Password</label>
                            <input type="password" name="password" ng-model="r.password" class="validate" required/>
                            <span style="color:red" ng-if="r.myForm.password.$invalid && r.myForm.password.$touched">Please enter a valid password</span>
                        </div>
                        <div class="input-field col s10 offset-s1
                                ">
                            <label for="rPassword">Re-enter Password</label>
                            <input type="password" ng-model="r.rPassword" name="rPassword" class="validate" required/>
                            <span style="color:red" ng-if="r.myForm.rPassword.$viewValue !== r.myForm.password.$viewValue && r.myForm.rPassword.$touched">Both passwords must match</span>
                        </div>
                    </div>
                    <div style="color: red; float:right;">{{f.errorMessage}}</div>
                </div>
                <div class="card-action right-align">
                    <input type="button" class="btn-flat waves-effect left" value="Returning User? Click here to log in">
                    <input type="reset" id="reset" class="btn-flat grey-text waves-effect">
                    <button type="submit" class="btn blue darken-3 waves-effect waves-light">Register</button>
                </div>
                <span>{{f | json}}</span>


                <!-- debug object -->
                <pre>{{l | json}}</pre>
            </form>
        </div>
    </div>


</body>

</html>