<!DOCTYPE html>
<html ng-app="Quiz App" ng-controller="HomeController as h">

<head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
</head>

<body>
    <script src="../jquery.js"></script>
    <script src="../angular.js"></script>
    <script src="../app.js"></script>
    <script src="lib/angular-ui-router.js"></script>
    <script src="../controllers/HomeController.js"></script>
    <script src="../services/UserService.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.2.2/angular-materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>



    <div>
            <nav>
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo center">My Quiz App</a>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                        <li>
                            <a href="../home/home.html" style="font-size: 20px;">Home</a>
                        </li>
                        <li>
                            <a href="../quiz/quiz.html" style="font-size: 20px;">Quizzes</a>
                        </li>
                        <li>
                            <a href="../faq/faq.html" style="font-size: 20px;">FAQ</a>
                        </li>
                        <li>
                            <a href="#" ng-click="h.logout();" style="font-size: 20px;" class="brand-logo right">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

    <div class="login-box" ng-model="login">
        <div id="fade" ng-show="l.fade" class="ng-hide"></div>
        <div id="modal" ng-show="l.fade" class="ng-hide">
            <img id="loader" src="facebook.gif" />
        </div>
        <div class="col card formCard ng-cloak hoverable z-depth-5"  ng-show="h.welcome">
            <form name="myForm" novalidate>
                <div class="card-content">
                    <h2 class="center blue-text text-darken-3 ng-cloak">Welcome, {{h.user}}!!</h2>
                    <a ng-click="h.logout()" href="#">Not you? Click here to log out.</a>
                </div>
                

                <!-- debug object -->
                <pre>{{l | json}}</pre>
            </form>
        </div>
    </div>

    


</body>
<footer class="page-footer blue darken-3" >
    <div class="footer-copyright blue darken-3">
      <div class="container">
      © 2018 Jared Kjar
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>

</html>